#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1a242d;
  height: 197px;
  align-items: center;
  padding: 0px 93px;
  overflow-x: hidden;
}

.items-block ul {
  display: flex;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-block li {
  cursor: pointer;
  padding: 1rem;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  align-self: center;
}

.items-block {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.items-block li:hover {
  border-bottom: 2px solid #ce9461;
}

.logo-block {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo img {
  height: 96px;
}

.linkedin-logo {
  border-left: 2px solid #ce9461;
  padding-left: 25px !important;
}
.linkedin-logo:hover {
  border-bottom: none !important;
}

.items-block li a {
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.pt,
.en {
  font-size: 16px !important;
}

.pt {
  border-right: 2px solid #ce9461;
  margin-left: -15px;
}

.en {
  margin-left: -12px;
}

@media only screen and (max-width: 1200px) {
  #menu {
    padding: 0 14px;
  }
  .menu-item,
  .linkedin-logo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo img {
    height: 51px !important;
  }
  #menu {
    height: 85px;
  }
}
